//- incclude /_mixins

//- extends layout

//- block content
//-   h1 New category
//-   form.new_category(action="/categories/new" method="post")
//-     p Category Name
//-     input(type="text" name="name")
  
//-     +submit_button("Create new category")


