include /_mixins

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    +nav_bar
    main
      .page
        block content
    .loader-bg
      .loader
        p Loading
    <script src="/javascripts/vendor/all.js"></script>
    <script src="/javascripts/handlebars_templates.js"></script>
    <script src="/javascripts/bb.js"></script>
    <script src="/javascripts/application.js"></script>

