extends layout


block content
  h1 New Post
    p Create a Post

  form(action="/posts/new" method="post" )

    label(for="title_input")
      p Title
    input#title_input(type="text" name="title")
      
    label(for="body_input")
      p Body
    input#body_input(type="text" name="body")
            
    label(for="image_input")
      p Image Link
    input#image_input(type="text" name="image")

    input(type="submit" value="Create new user")