<h1> Log in</h1>

<form id="login" action="login" method="post">
  <label for="username">
    <type="text" name="username" id="username">
  </label>

  <label for="password">
    <input type="password" name="password" id="password">
  <label>

  <input type="submit" value="Log in">
</form>