<h1>New category</h1>
  <form class="new_category" action="/categories/new" method="post">
    <p> Category Name</p>
    <input type="text" name="name">
    <input type="submit" value="New Category">  
  </form>


