body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.user_preview {
  border: 1px solid black;
}

nav li {
  margin: 0 20px;
}

.thumb {
  width: 150px;
  height: 150px;
}

.post_preview {
  list-style: none;
  width: 900px;
  height: 200px;
  border: 1px solid black;
}
.post_preview img {
  float: left;
  margin-right: 40px;
} 

.post_preview img:after {
  display: block;
}

.preview_info {
}

.preview_info:after {
  display: block;
  content: "";
  clear: both;
}

#body_input {
  width: 800px;
  height: 200px;
}